<table mat-table [dataSource]="workSheetItems" class="mat-elevation-z8">
  <!-- Nap oszlop -->
  <ng-container matColumnDef="Nap">
    <th mat-header-cell *matHeaderCellDef> Nap </th>
    <td mat-cell *matCellDef="let worksheetItem"> {{worksheetItem.actualDay}} </td>
    <td mat-footer-cell *matFooterCellDef> Összesen </td>
  </ng-container>

  <!-- Pénztárgép oszlop -->
  <ng-container matColumnDef="Pt.gép">
    <th mat-header-cell *matHeaderCellDef> Pt.gép </th>
    <td mat-cell *matCellDef="let worksheetItem"> {{worksheetItem.cashierNumber}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
